<div class="box navtop py-4">
    
    <div class="logo text-light">Dolce Tenza</div>
    <ul class="d-flex text-light ">
        <li>portfolio</li>
        <li>contact</li>
        <li>partenaire</li>
    </ul>
</div>