*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
html{
    background: rgb(6, 5, 41)
}
.box{
    width: 100%;
    padding:0px 10%;
}
.navtop{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.navtop .logo{
    padding-top: 10px;
}
.navtop ul li{
    margin: 0 20px;
    padding-top: 10px;
}